* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonte provisoria */
body {
  background-color: #fff;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.header {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  padding: 10px 2vw;
  border-bottom: 1px solid #ccc;
}

body.dark-mode {
  background-color: #060606;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #1a1a1a;
}

/* 
.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: transform 0.3s ease;
}

.dark-mode .icon {
  transform: rotate(180deg);
}
*/

.header a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #f3b415;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.navbar {
  max-width: 100%;
  overflow-x: auto;
}

.nav-item {
  padding-bottom: 1rem;
  margin: 5px 10px;
  transition: transform 0.2s;
  border-bottom: 1px solid #ffffff;
}

.nav-item:hover {
  border-bottom: 1px solid #f3b415;
}
.home {
  padding: 1.25rem;
}
/* PARA LEMBRAR AQUI É O BANNER */
.home-content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: auto;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.home-content img {
  margin-top: 1.25rem;
  width: 80rem;
  height: 56.25rem;
  margin-top: 2.5rem;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* if(tela <= 768) o max width é aplicado */
@media (max-width: 768px) {
  .home-content {
    max-width: 90%;
  }
}

.home {
  text-align: center;
}

.home h2 {
  padding-top: 10px;
  text-align: center;
  font-family: New York;
  font-size: 54px;
  font-style: normal;
  font-weight: 700px;
  line-height: 100%; /* 54px */
}

.home h3 {
  padding-top: 10px;
  text-align: center;
  font-family: SF Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 34px */
  margin-top: 20px;
}

@media (max-width: 768px) {
  .home h3 {
    font-size: 1.2rem;
  }
}

.custom-hr {
  margin-top: 100px;
  border: none;
  height: 2px;
  background-color: #000000;
  margin: 10px 0;
  width: 50%;
  margin: 10px auto;
}

.profile {
  display: flex;
  width: 9.375rem;
  height: 9.375rem;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.profile-content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 4rem;
  flex-direction: column;
  border-top: 2px solid black;
}

.post-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3.25rem;
  height: 3.5rem;
  /* background-color: red; */
  flex-direction: row;
}

.profile img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 56px;
  border-radius: 80px;
}

.info {
  flex-direction: row;
  display: flex;
}

#profile-img {
  border-radius: 100%;
}

.imgAPI {
  max-width: 100%;
  max-height: 100%;
}

#info {
  padding-left: 20px;
}

.post-content p {
  margin-right: 250px;
}

.icon-post {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.text-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-profile p {
  margin: 0 auto;
  top: 97.81rem;
  left: 25rem;
  text-align: left;
  width: 100%;
  /* position: relative; */
  line-height: 170%;
  display: flex;
  max-width: 640px;
}

.next {
  top: 116.25rem;
  left: 25rem;
  font-size: 2rem;
  line-height: 160%;
  text-align: left;
  margin-top: 0 auto;
  margin-right: auto;
}

.image-rectangle {
  width: 854px;
  height: 570px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); */
}

.sharebutton {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3.25rem;
  height: 4rem;
  /* background-color: red; */
  border: 1px solid #c4c3c3;
}

#tt {
  padding-left: 100px;
}

.mika-info-2 {
  justify-content: center;
  align-items: center;
}

.profile-content-b {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 4rem;
  flex-direction: row;
  border-top: 2px solid black;
}

.post-content-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3.25rem;
  height: 4rem;
  background-color: red;
}

.articles {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slideInFromBottom 1s ease-in-out;
}

/* olhar a fonte */
.title-article {
  font-family: "Times New Roman", Times, serif;
  font-size: 44px;
  text-align: center;
  margin: 30px auto; /* Ajuste a margem superior para diminuir o espaçamento */
  font-weight: 700;
  line-height: normal;
}

.grid-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 1000px;
  padding: 20px;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  animation: slideInFromBottom s ease-in-out;
}

@media (max-width: 768px) {
  .grid-post {
    grid-template-columns: 1fr; /* Uma coluna para tamanhos de tela menores */
    row-gap: 1rem; 
    column-gap: 0; 
    width: 100%; 
  }
}

.post {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.img-post {
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 176px;
  animation: slideInFromBottom 1s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.625px;
  transition: transform 0.2s;
}

.img-post:hover {
  transform: scale(1.05);
}

.legend {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  width: 262px;
}

.nav-foot {
  display: flex;
  text-decoration: none;
  font-family: "SF Pro Text", sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1.25rem;
  flex-direction: row;
  align-items: center;
  max-height: 150px;
  overflow: auto;
}

@media (min-width: 768px) {
  .banner-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    margin-top: 0;
  }

  .nav-foot {
    margin: 0;
  }
}

.footer {
  margin-top: 60px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
}

.banner-footer {
  margin-top: 10px;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
  flex-direction: column;
}

.Inf {
  display: block;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 0.625rem;
}

.comments-section {
  margin-top: 100px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.comment {

  border: 1px solid #cccccc;
  padding: 10px;
  margin: 20px 0;
  justify-content: space-between;
}

.comment-author {
  font-weight: bold;
}

.comment-body {
  margin-top: 5px;
}
